/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

// Colors

$primary-color: #56334F;
$accent-color: #FFC107;

// Base Styles

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

em {
  font-style: italic;
}

body {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  min-height: 100vh;
}

// Modules

.product {
  align-self: flex-start;
  font-size: 70%;
  padding: 20px;
}

.intro {
  // background: linear-gradient(to bottom, $primary-color, $primary-color 50%, white 50%);
  background: url("/images/intro.png");
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.card {
  background: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 50px;
}

.caption {
  padding-right: 20px;
  max-width: 50%;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: {
    top: 120px;
    left: 50px;
    bottom: 120px;
    right: 50px;
  }
}

.value-prop {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.value-prop > div {
  padding-left: 40px;
}

.spacer {
  height: 40vh;
  width: 100%;
}

.maps-spacer {
  @extend .spacer;
  background: url("/images/maps-photo.jpeg");
}

.mountain-spacer {
  @extend .spacer;
  background: url("/images/mountain-photo.jpeg");
}

.enroll-button {
  font-size: 1.2em;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background: $accent-color;
  border-style: none;
}

.signup {
  width: 100%;
  color: white;
  background: $primary-color;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#mc_embed_signup {
  font:14px "Roboto",Arial,sans-serif;  
}

#mc_embed_signup input.button {
  background: $accent-color;
  color: white;
}